.postItem {
    padding: 5px;
    border: 3px solid #27569C;
    border-radius: 10px;
    font-weight: bold;

    .userWrapper {
        display: flex;
        justify-content: space-between;
        max-width: 350px;
    }
    
    .user {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    
        p {
            font-size: 12px;
        }
    }

    .post {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
   .userWrapper {
    flex-direction: column;
    img {
        height: 150px;
        width: 150px;
    }
   }
   .post {
    font-size: 12px;
   }
}

@media screen and (max-width: 376px) {
   .userWrapper {
    flex-direction: column;
    img {
       display: none;
       width: 0;
       height: 0;
    }
   }
   .post {
    display: block;
    
    & p:last-child {
        display: none;
    }
   }
}