.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
    background-color: #E4B062;

    &__logo {
    margin-left: 41px;
    }

    &__block_logged {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;

        &__username {
            font-weight: bold;
            font-size: 24px;
        }
    }

    &__logout {
        margin-right: 41px;
    }
}

@media screen and (max-width: 769px) {
    .header__block_logged__username {
        display: none;
    }
}


@media screen and (max-width: 367px) {
    .header__block_logged {
        display: none;
    }
    .header__logout {
        margin-right: 0;
    }
    img {
        width: 100%;
    }
}