.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
    background-color: #E4B062;

    &__logo {
    margin-left: 41px;
    }

    &__block_logged {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;

        &__username {
            font-weight: bold;
            font-size: 24px;
        }
    }

    &__logout {
        margin-right: 41px;
    }
}